@font-face {
    font-family: Inconsolata;
    src: url("font/Inconsolata.otf") format("opentype");
}

body {
    font-family: Inconsolata;
}

.command {
    margin:auto;
    margin-top:30px;
    width:20vw;

}

.command input {
    font-size:30px;
    width:20vw;
    font-family: Inconsolata;
}

.output {
    margin:auto;
    width:20vw;
    margin-top:10px;
    min-height:40vh;
    border: 1px dotted #ffc520;
}

.title {
    width:20vw;
    text-align: center;
    font-size:26px;
    margin:auto;
    margin-top:20vh;
}

.editor {
    margin:auto;
    width:40vw;
    margin-top:10px;
    min-height:40vh;
}

.editor textarea {
    width:40vw;
    font-size: 16px;
    resize: none;
    background-color: ghostwhite;
}