@font-face {
    font-family: Inconsolata;
    src: url("font/Inconsolata.otf") format("opentype");
}

input, textarea {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    background: none;
    color: white;
}

html{
    height:100%;
    background-color: black;
}

body {
    font-family: Inconsolata;
    color: white;
    margin: 0;
    height: 100%;
}

.title, .command, .output, .editor, .subtitle{
    margin-left: 10px;
    margin-right: 10px;
    margin-top:15px;
}

.junk-container {
    width: 100%;
    height:100%;
}


.command {
    margin-top:30px;
}

.command input {
    font-size:30px;
    font-family: Inconsolata;
}

.output {
    height:30vh;
    border: 1px solid white;
}

.title {
    text-align: center;
    font-size:26px;
    margin:auto;
}
.subtitle {
    font-size:18px;
}

.prompt{
    font-weight: bold;
}
.output textarea {
    font-size: 16px;
    resize: none;
    border: 1px solid white;
    width: 100%;
    height: 100%;
}
